<div class="container">

  <div class="des">SIGNIN INTO WILDERNESS!</div>
  <div class="grp">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
              <input 
              type="text" 
              id="email" 
              name="email" 
              ngModel
              required
              email
              #email=ngModel
              class="form-control"
              placeholder="Email">
          </div>
          <span class="help-block" 
          *ngIf="!email.valid && email.touched">Enter valid Email</span>
          <div class="form-group">
                <input 
                type="password" 
                id="password" 
                name="password" 
                ngModel
                required
                #password=ngModel
                class="form-control"
                placeholder="Password">
            </div>
            <span class="help-block" 
           *ngIf="!password.valid && password.touched">Enter Password</span>
           <br>
           <div class="link">Don't have an account?<a routerLink="/signup">Signup!</a></div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Login</button>
        </form>
  </div>

</div>
